
        .video, audio {
            width: 1000%;
            max-width: 1000px;
            border-radius: 10px;
        }
        .controls button {
            margin: 10px;
            text-align: center;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
        }
        .controls button:hover {
            background-color: #0056b3;
        }
        .media-player {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column; /* Ensures items stack vertically if needed */
    height: 100vh; /* Full viewport height */
        } 

        .video-container {
    width: 200px;
    text-align: center;
    height: 200px; 
    margin: 0 auto;
    display: block; 
}
