#toolbar {
  display: flex;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  align-items: center;
  position: sticky; /* Keeps the toolbar on top when scrolling */
  top: 0;
  z-index: 999;
}

.button {
  border:   solid #ccc;
  background-color: #e6e6e6;
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #dcdcdc;
}

.button:active {
  background-color: #bbb;
}

.color-palette {
  display: flex;
  margin-left: 10px;
}

.color-square {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
}

.color-square.selected {
  border: 2px solid black;
  transform: scale(1.2);
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

canvas {
  border: 1px solid #000;
  background-color: white;
}
