.start-menu {
    width: 70px;
    height: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

 .start-menu img {
            width: 100%;
            height: auto;
        }

        .start-menu img.default {
            display: block;
        }

        .start-menu img.clicked {
            display: none;
        }

       .start-menu-content {
    z-index: 9999;
    display: block;
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    bottom: 45px;
    width: 270px;
    height: 400px;
    background-color: transparent; /* Temporarily for testing */
    background-image: url('path/to/start_menu.png') !important;
    background-size: cover;
    background-position: center;
}

        .start-menu-content ul {
            list-style: none;
            padding: 0px;
            top: 50px;
            margin: 0px;
        }
